<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <nav class="navbar sticky-top navbar-lewagon">
  <div class="container-fluid ">
    <a class="navbar-brand img-fluid"><%= image_tag("logo.png")%> Cinema List Derby!</a>
  </div>
</nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
