<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <nav class="navbar sticky-top navbar-lewagon">
  <div class="container-fluid justify-content-center border-bottom">
    <a class="navbar-brand img-fluid"><%= image_tag("logo.png")%><strong>Cinema List Derby</strong></a>
    <%= link_to "Add a List", new_list_path, class: "btn btn-light rounded-pill" %>
  </div>
</nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
